#header-9102 p{
    margin-bottom: 0px !important;
}
.hide{
    display: none !important;
}

.w-form-done{
    background-color: #eafac0;
    border: 1px solid #b1cf67;
    color: #7ba411;
    margin: 20px 0 0;
    padding: 15px 15px 15px 45px;
}
.w-form-fail{
    background-color: #ffdede;
    border: 1px solid #ffdede;
    margin: 20px 0 0;
    padding: 15px 15px 15px 45px;
}

@media (min-width: 767px) {
    .dt-sc-image-border {
        width: 70% !important;
    }
    .dt-sc-contact-info.type4{
        height: 15rem !important;
    }
}
.page #primary {
    padding-bottom: 0px !important;
}

.wtsp_btn:hover{
    background-color: #c59d5f;
    color: white;
}
.wtsp_btn{
    border-color: #c59d5f;
    color: #c59d5f;
    border: 2px solid;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 10px 0 0;
    padding: 10px 25px 12px;
    text-transform: capitalize;
}

.dt-sc-title.with-image.with-sub-title h4 {
    color: #525252 !important;
}
.footer-copyright p{
    color: #969696 !important;
}